#app {
    overflow: hidden;
    padding: 50px;
    margin: 20px;
    background-color: #EFEFEF;
    border: 5px solid #DEDEDE;
}

#canvas {
    width: 500px;
}

#canvas, .image-container {
    position: absolute;
    right: 99999px;
}

#thumbnails {
    float: left;
    padding-right: 50px;
}

#thumbnails img {
    display: block;
    margin-bottom: 20px;
    border: 5px solid #DEDEDE;
}

